<script>
	function dotoggle(a) {
	  $(a).slideToggle('slow');
	}
  function doreplace(a) {
   $("li.sectionItem").addClass("section_open");
	}
</script>
<%if @page%>
   <%if @page.parent && @page.descendant_of_slug(:this_week_pages)%>
      <%contents = Page.find_by_slug(:what_we_do).root.children%>
   <%else%>
      <%contents = @page.root.children%>
   <%end%>
<%else%>
   <%contents = []%>
<%end%>
<ul class='sectionContentsList'>
  <%for item in contents%>
    <%if item.children.size > 0%>
      <%contents = item.children%>

      <li id="list_item_<%=item.id%>" class='sectionItem'>
        <a href='javascript:void(0);' onclick="dotoggle('ul#item_<%=item.id%>'); doreplace('li#list_item_<%=item.id%>');"><%=item.title%></a>
      </li>
      <ul id='item_<%=item.id%>' class='submenuitems' style='display: none'>
        <%contents.each do |subitem|%>
  		      <li class='subitem'>
	  		      <%=link_to subitem, subitem.permalink.path%>
		  		  </li>
        <%end%>
      </ul>
    <%else%>
      <li class='pageItem'>
        <%=link_to item, item.permalink.path%>
      </li>
    <%end%>
  <%end%>
</ul>

<br/>
