
  <img src="/assets/hub-header.jpg" alt="<%=@page_title%>" class="header_img">
  <div class="header_box">
  	<h2><%=@page_title%></h2>
  	<h5>Find out about our support groups, events and resources for family carers.</h5>
  </div>
  <br clear="all">
  <div class="header_strip">
  	<h4>Support Networks</h4>
    <%=link_to_slug('Sharing Caring Project', :sharing_caring_project, {:class=>'hub_promo', :id=>'promo_one'}) %>
    <%=link_to_slug('Regular support for carers', :sharing_caring_project, {:class=>'hub_promo', :id=>'promo_two'}) %>
    <%=link_to_slug('Empowering Older Families', :older_families_planning_project, {:class=>'hub_promo', :id=>'promo_three'}) %>

  </div>
  <br clear="all">
  <div class="col2">
  	<h3>Support for carers</h3>
  	<div id="events">
      <ul class="lst_cal">
          <li>
  
          </li>
  	  </ul>
  	</div><!-- /events -->
  </div>
  <div class="col3">
  	<h3>News</h3>
  	<img src="/assets/hub-small.jpg" alt="Family and carers">
  		<div id="news">
  	     <ul class="lst_pic">
  			 <%news_articles=Page.find_by_slug(:news).children%>
  			 <%for news in news_articles.first 3%>
  	     	   <li>
  		          <a href='/<%=news.permalink.path%>' class="summary"><%=news.title%></a>
  					<%if  cycle("1","2","3") == "1"%>
  		          		<span class='events_desc'>
  			            <%=strip_tags news.intro%>
  			         	</span>
  					<%end%>
  		        </li>
  			 <%end%>
		
  	  </ul>

  	</div>
  </div>
  <div class="col4">
  	<div id="resources">
  		<h3>Links</h3>
  		<p>To find out about other organisations that provide help for families <%=link_to_slug 'click here', :links%>
  	</div>
  	<%link_to 'Talk to other families and carers', '/', :id => 'chat' %>
   </div>
